.actions {
  display: flex;
  gap: 0.25rem;
}

.action {
  background-color: #64748b;
  color: white;
  padding: 0.25rem;
  transition: opacity 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.action:hover {
  opacity: 0.8;
}

.form {
  display: grid;
  gap: 1rem;
}
